<div *ngIf="correctOptionSelected || dailySongOptions?.length === 0">
  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
    <a href="#">
      <img width="100%" class="rounded-t-lg" [src]="songInfo?.imageAlbumLink" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{songInfo?.name}}</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700">Encuentra la canción en Sportify o el video oficial
        en Youtube</p>

      <div class="flex flex-row justify-between mb-2">
        <div>
          <button (click)="onGoAction('spotify', songInfo?.spotifySong)" type="button" data-te-ripple-init data-te-ripple-color="light"
            class="mb-2 mr-2 inline-block rounded-full p-3 text-xs font-medium uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg"
            style="background-color: #81b71a">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-spotify" width="17"
              height="17" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <circle cx="12" cy="12" r="9" />
              <path d="M8 11.973c2.5 -1.473 5.5 -.973 7.5 .527" />
              <path d="M9 15c1.5 -1 4 -1 5 .5" />
              <path d="M7 9c2 -1 6 -2 10 .5" />
            </svg>
          </button>

          <button (click)="onGoAction('youtube', songInfo?.youtubeLink)" type="button" data-te-ripple-init data-te-ripple-color="light"
            class="mb-2 inline-block rounded-full p-3 text-xs font-medium uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg"
            style="background-color: #ff0000">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z" />
            </svg>
          </button>
        </div>

        <button (click)="onGoAction('share')" type="button" data-te-ripple-init data-te-ripple-color="light"
          class="bg-gradient-to-r to-emerald-600 from-sky-400 mb-2 inline-block rounded-full p-3 text-xs font-medium uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg"
          style="">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M7.217 10.907a2.25 2.25 0 100 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186l9.566-5.314m-9.566 7.5l9.566 5.314m0 0a2.25 2.25 0 103.935 2.186 2.25 2.25 0 00-3.935-2.186zm0-12.814a2.25 2.25 0 103.933-2.185 2.25 2.25 0 00-3.933 2.185z" />
          </svg>
        </button>
      </div>

    </div>
  </div>
</div>
